/* BoilerPlate Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

nav a {
    text-decoration: none;
    -moz-text-decoration: none;
}